/* blog */
.post {
  background-color: #111;
  box-shadow: 0.5rem 0.5rem 1rem black;
  padding: 1rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 2px black;
}
.post img {
  display: flex;
  height: auto;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  image-rendering: auto;
  box-shadow: 0.5rem 0.5rem 1rem black;
}
.post-bar {
  background-image: url(../images/nav-bar.gif);
  background-repeat: repeat-x;
  background-size: auto 100%;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 12px;
  border-bottom: 3px solid black;
}
.post-bar * {
  font-size: 100%;
}
.post-date {
  color: #999;
  text-align: right;
}
/* end blog */