/* home page */
#promo {
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#mediabackground {
  background-color: rgba(0, 0, 0, 0.58);
  overflow-x: scroll;
}

#badges * {
  padding: 0px;
  margin: 0px;
  margin-top: 1rem;
}
#badges a:hover {
  box-shadow: 0px -2px 4px 2px white;
}

#buttons {
  margin-top: 24px;
  height: 40px;
}

#packorder {
  animation: glow 1s infinite ease-in-out;
}

#githubbutton {
  aspect-ratio: 256 / 40;
  height: 40px;
  background-image: url(../images/github-button.png);
}
#githubbutton:hover {
  background-image: url(../images/github-button-highlighted.png);
}
/* end home page */

/* animations */
@keyframes glow {
  0% {
    box-shadow: 0px 0px 8px 0px yellow;
  }
  50% {
    box-shadow: 0px 0px 8px 8px yellow;
  }
  100% {
    box-shadow: 0px 0px 8px 0px yellow;
  }
}
