/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
  box-shadow: 0 0 4px 4px #111;
  clip-path: inset(0 0 -15px 0);
}

/* home page */
#disclaimer {
  padding: 0.5rem;
  background-color: #111;
}
#disclaimer * {
  color: white;
  text-shadow: 2px 2px 4px black;
  font-weight: 900;
}

#promo {
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#mediabackground {
  background-color: rgba(0, 0, 0, 0.58);
  overflow-x: scroll;
}

#badges * {
  padding: 0px;
  margin: 0px;
  margin-top: 1rem;
}
#badges a:hover {
  box-shadow: 0px -2px 4px 2px white;
}

#buttons {
  margin-top: 24px;
  height: 40px;
}

#githubbutton {
  aspect-ratio: 256 / 40;
  height: 40px;
  background-image: url(../images/github-button.png);
}
#githubbutton:hover {
  background-image: url(../images/github-button-highlighted.png);
}
/* end home page */
