/* globals */
:root {
  --background: url(images/background.png);
}

* {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  image-rendering: optimizeSpeed;
  font-family: Arial, Helvetica, sans-serif;
  color: #e0d0d0;
}
img {
  max-width: min(640px, 100vw);
  --margin: min(8px, 100vw - 640px);
  margin: var(--margin);
  margin-top: 8px;
  margin-bottom: 8px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
}

a:link,
a:visited {
  color: #aaf;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
a:active {
  color: #ff0;
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

#page {
  /* min-height: 100vh; */
  background-image: var(--background);
  background-position: left;
  background-size: 48px;
  background-position-y: 48px;
}
#page-content {
  /* height without navbav or footer */
  /* height - navbar.height - navbar.border - footer.height - footer.margin-top - footer.padding - footer.padding */
  min-height: calc(100vh - 48px - 3px - 48px - 24px - 12px - 12px);
  max-width: 768px;
}
.wip {
  margin-bottom: 1rem;
  padding: 1rem;
  background-image: url(images/lava.gif);
  background-size: auto 48px;
  color: white;
  font-size: 2rem;
  text-align: center;
  text-shadow: 3px 3px 2px black;
  font-weight: 900;
}
/* end globals */

/* navbar */
#navbar {
  display: flex;
  flex: 1 0 auto;
  min-height: 48px;
  background-image: url(images/nav-bar.gif);
  background-size: auto 100%;
  background-repeat: repeat-x;
  border-bottom: 3px solid black;
  text-align: right;
  overflow: hidden;
}
#navbar * {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#navbar #navbar-contents {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  justify-content: start;
  /* vertical */
  align-items: center;
  height: 100%;
  max-width: 960px;
}

#navbar #navbar-contents > div {
  min-height: 48px;
}

#navbar #navbar-logo {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}
#navbar #logo {
  margin: 0px;
  height: 40px;
}
#navbar #navbar-links {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
  align-items: center;
}
/* end navbar */

/* home page */
#promo {
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#mediabackground {
  background-color: rgba(0, 0, 0, 0.58);
  overflow-x: scroll;
}

#badges * {
  padding: 0px;
  margin: 0px;
  margin-top: 1rem;
}
#badges a:hover {
  box-shadow: 0px -2px 4px 2px white;
}

#buttons {
  margin-top: 24px;
  height: 40px;
}

#packorder {
  animation: glow 1s infinite ease-in-out;
}

#githubbutton {
  aspect-ratio: 256 / 40;
  height: 40px;
  background-image: url("./images/github-button.png");
}
#githubbutton:hover {
  background-image: url("./images/github-button-highlighted.png");
}
/* end home page */

/* blog */
.post {
  background-color: #111;
  box-shadow: 0.5rem 0.5rem 1rem black;
  padding: 1rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 2px black;
}
.post img {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  image-rendering: auto;
  box-shadow: 0.5rem 0.5rem 1rem black;
}
.post-bar {
  background-image: url("./images/nav-bar.gif");
  background-repeat: repeat-x;
  background-size: auto 100%;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 12px;
  border-bottom: 3px solid black;
}
.post-bar * {
  font-size: 100%;
}
.post-date {
  color: #999;
  text-align: right;
}

/* end blog */

/* Footer */
footer {
  background: #111;
  margin-top: 24px;
  padding: 12px;
  height: 48px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* animation: rainbow 20s infinite ease; */
}

/* animations */
@keyframes glow {
  0% {
    box-shadow: 0px 0px 8px 0px yellow;
  }
  50% {
    box-shadow: 0px 0px 8px 8px yellow;
  }
  100% {
    box-shadow: 0px 0px 8px 0px yellow;
  }
}
