html {
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

/* .navbar {
    width: 100%;
    height: 48px;
    background-image: url(images/nav-bar.gif);
    image-rendering: pixelated;
    background-position: center;
    background-repeat: repeat-x;
    background-size: 48px;
} */

body {
    height: 100vh;
    width: 100%;
    background-image: url(images/background.png);
    image-rendering: pixelated;
    background-position: center;
    background-size: 48px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.logo {
    height: 40px;
    margin: 0px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style-type: none;
    background-image: url(images/nav-bar.gif);
    background-repeat: repeat-x;
    height: 40px;
    border: 0px, black;
    padding: 4px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.buttons {
    display: table;
    text-align: center;
}

.buttons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 40px;
}

.buttons ul li a {
    background-image: url(images/button-128-20.png);
    background-clip: border-box;
    color: #ffffff;
    font-family: 'Minecraft Seven';
    font-size: 24px;
}

.buttons ul li a:hover {
    background-image: url(images/button-128-20-highlighted.png);
    cursor: pointer;
}

#githubbutton {
    display: inline-block;
    height: 40px;
    width: 256px;
    background-image: url(images/github-button.png);
    background-position: center;
}

#githubbutton:hover {
    background-image: url(images/github-button-highlighted.png);
}

.content {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.trailer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.50);
    background-blend-mode: color-burn;
    padding: 15px;
}

footer {
    background-image: url(images/bedrock.png);
    height: 500px;
    text-align: center;
}

#githublink {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#githublogo {
    height: 220px;
    padding: 20px;
    image-rendering: auto;
}