<!-- Nav Bar -->
<div id="navbar">
  <div id="navbar-contents">
    <div id="navbar-logo">
      <img src="/images/goldendays-text.png" id="logo" class="no-margins" />
    </div>
    <!-- Minecraft Style Golden Days Logo -->
    <div id="navbar-links">
      <!-- Text Links in Nav Bar -->
      <div>
        <a href="/" class="navbarlinks">Home</a>
      </div>
      <div>
        <a href="/blog/" class="navbarlinks">Blog</a>
      </div>
      <div>
        <a href="https://modrinth.com/resourcepack/golden-days" class="navbarlinks">Modrinth</a>
      </div>
      <div>
        <a href="https://legacy.curseforge.com/minecraft/texture-packs/golden-days" class="navbarlinks">CurseForge</a>
      </div>
      <div>
        <a href="https://www.planetminecraft.com/texture-pack/golden-days-beta-reversion-for-modern-minecraft/" class="navbarlinks">PlanetMinecraft</a>
      </div>
      <div>
        <a href="https://github.com/PoeticRainbow/golden-days" class="navbarlinks">GitHub</a>
      </div>
      <div>
        <a href="https://discord.gg/pYH6rd6" class="navbarlinks">Discord</a>
      </div>
    </div>
  </div>
</div>
