<!doctype html>

<!-- Site Info -->
<html lang="en">
  <head>
    <title>Golden Days - Blog</title>
    <link rel="stylesheet" href="/style.css" />
    {% include "meta.html" %}
  </head>

  <div id="page">
    {% include "navbar.html" %}

    <div id="page-content">
      <!-- Start of Body -->
      <body> </body>
    </div>

    {% include "footer.html" %}
  </div>
</html>
