<!doctype html>

<!-- Site Info -->
<html lang="en">
  <head>
    <title>PoeticRainbow's Site</title>
    <link rel="stylesheet" href="/home/css/style.css" />
    <link rel="icon" href="/home/favicon.ico" />
    <meta charset="utf-8" />
    <meta content="PoeticRainbow's Site" property="og:title" />
    <meta content="A website for all of the projects by PoeticRainbow" property="og:description" />
    <meta content="https://poeticrainbow.github.io/" property="og:url" />
    {# <meta content="https://poeticrainbow.github.io/images/cover.png" property="og:image" /> #}
  </head>

  <!-- Start of Body -->
  <body> 
    <div id="main">
      <div id="sidebar">
        <div id="sidebar-content">
          {% for project in collections.public_projects %}
            <div id="{{ project.fileSlug }}" class="project-button">
              <a href="{{ project.data.url }}">
                <img src="/home/images/{{ project.fileSlug }}.png" alt="{{ project.data.name }}" class="project-img" title="{{ project.data.name }}">
              </a>
            </div>
          {% endfor %}
        </div>
      </div>

      <div id="content"> 
        <div id="description">
          {% md "home/index.md" %}
        </div>

        <h2>Public Projects</h2>
        <table>
          {% for project in collections.public_projects %}
            <tr>
              <td>
                {{ project.data.name }}
              </td>
              <td>
                {{ project.content | safe }}
              </td>
            </tr>
          {% endfor %}
        </table>

        <h2>Private Projects</h2>
        <table>
          {% for project in collections.private_projects %}
            <tr>
              <td>
                {{ project.data.name }}
              </td>
              <td>
                {{ project.content | safe }}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </body>
  </div>
</html>
