<!doctype html>

<!-- Site Info -->
<html lang="en">
  <head>
    <title>Golden Days - A Minecraft Time Machine</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/index.css" />
    {% include "meta.html" %}
  </head>

  <div id="page">
    {% include "navbar.html" %}

    <!-- YouTube Video -->
    <div id="promo">
      <div id="mediabackground">
        <div id="trailer">
          <iframe
            width="768"
            height="432"
            src="https://www.youtube.com/embed/wmCuzUFdZVM"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div id="disclaimer" class="center">
        <p>Read the instructions! This pack requires <b>Programmer Art</b>!</p>
      </div>

      <div class="center flex" style="margin-top: 16px; margin-bottom: 8px">
        <a href="https://legacy.curseforge.com/minecraft/texture-packs/golden-days" class="scale-on-hover">
          <div class="glow flex"><img src="/images/badge-base.png" class="no-margins no-padding" /> </div
        ></a>
        <a href="https://legacy.curseforge.com/minecraft/texture-packs/golden-days-alpha" class="scale-on-hover">
          <div class="glow flex"><img src="/images/badge-alpha.png" class="no-margins no-padding" /> </div
        ></a>
      </div>

      <div class="center" id="coverimage">
        <img src="/images/cover.png" />
      </div>

      <div id="badges">
        <img
          alt="GitHub release (with filter)"
          src="https://img.shields.io/github/v/release/PoeticRainbow/golden-days?style=plastic&label=latest&link=https%3A%2F%2Fgithub.com%2FPoeticRainbow%2Fgolden-days"
        />
        <img
          alt="GitHub all releases"
          src="https://img.shields.io/github/downloads/PoeticRainbow/golden-days/total?style=plastic&logo=github&label=GitHub&link=https%3A%2F%2Fgithub.com%2FPoeticRainbow%2Fgolden-days"
        />
        <a href="https://legacy.curseforge.com/minecraft/texture-packs/golden-days"
          ><img
            alt="CurseForge Downloads"
            src="https://img.shields.io/curseforge/dt/384081?style=plastic&logo=curseforge&label=CurseForge&color=F16436&link=https%3A%2F%2Flegacy.curseforge.com%2Fminecraft%2Ftexture-packs%2Fgolden-days"
        /></a>
        <a href="https://modrinth.com/resourcepack/golden-days"
          ><img alt="Modrinth Downloads" src="https://img.shields.io/modrinth/dt/BFzJ6aQL?style=plastic&logo=modrinth&label=Modrinth&link=https%3A%2F%2Fmodrinth.com%2Fresourcepack%2Fgolden-days"
        /></a>
        <a href="https://discord.gg/pYH6rd6"><img alt="Discord" src="https://img.shields.io/discord/742213262791147531?logo=discord&label=Discord&style=plastic" /></a>
      </div>
    </div>

    <div id="page-content">
      <!-- Start of Body -->
      <body>
        <!-- Description Text -->
        <div id="description">
          {% md "description.md" %}
        </div>

        <!-- Minecraft Style Buttons -->
        <div id="buttons">
          <a href="https://github.com/PoeticRainbow/golden-days"><div id="githubbutton"> </div></a>
        </div>
        <!-- End of Body -->
      </body>
    </div>

    {% include "footer.html" %}
  </div>
</html>
