<!doctype html>

{% include "golden-days/js/main.html" %}

<!-- Site Info -->
<html lang="en">
  <head>
    <title>Golden Days - Blog</title>
    <link rel="stylesheet" href="/golden-days/style.css" />
    {% include "golden-days/meta.html" %}
  </head>

  <div id="page">
    {% include "golden-days/navbar.html" %}

    <div id="page-content">
      <!-- Start of Body -->
      <body> </body>
    </div>

    {% include "golden-days/footer.html" %}
  </div>
</html>
